<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>e-mail</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
    <% @company.employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.area.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
